<app-widget>
    <ng-content class="one"  select="[positionOne]"></ng-content>
</app-widget>
<app-widget>
    <ng-content class="two" select="[positionTwo]"></ng-content>
</app-widget>
<app-widget>
    <ng-content class="three" select="[positionThree]"></ng-content>
</app-widget>
<app-widget>
    <ng-content class="four" select="[positionFour]"></ng-content>
</app-widget>
<app-widget>
    <ng-content class="five" select="[positionFive]"></ng-content>
</app-widget>
<app-widget>
    <ng-content class="six" select="[positionSix]"></ng-content>
</app-widget>