<app-grid>
    <div title="Memoized Function" positionOne>
        <button> Execute Memoized Function</button>
        @for(time of executionTileResult; track $index) {
            <p>time</p>
        }
    </div>
    
    <!-- <app-signal-main title="signal" positionOne></app-signal-main>
    <app-data-binding title="data binding" positionTwo></app-data-binding>
    <app-control-flow title="Control flow" positionThree></app-control-flow>
    <app-pipe title="pipe" positionFour></app-pipe>
    <app-change-detection-on-push  title="Change Detection On Push" positionFive></app-change-detection-on-push> -->
</app-grid>
