:host{
    display: block;
}

mat-sidenav-container{
    background-color: transparent;
    
}

mat-sidenav {
    background-color: aliceblue;
    padding: 0 5px;
}

.pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20vh;

    a {
        text-decoration: underline;
        color: black;
        font-size: medium;
        
        // font-weight: bold;
    }
}
