<button (click)="buyNewCar()" > Buy new car</button>

<h3 id="info"> Current vehicle is {{ currentVehicle().name}}</h3>
And the model is {{ currentVehicle().model}}
Number of cars i own {{ currentVehicle().count}}


<app-control-flow [numberOfCars]="{ count : currentVehicle().count}" title="abc" selector >
    <h3 id="info"> Current vehicle is {{ currentVehicle().name}}</h3>
    And the model is {{ currentVehicle().model}}
    Number of cars i own {{ currentVehicle().count}}
</app-control-flow>
